* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

/* navigation */

nav {
    background-color: #d33a2c;

}

.logo {
    width: 250px;
}

.nav-links {
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 21px;
}

.nav-links a {
    color: #fff;
}

input {
    margin-right: 20px;
    padding: 16px 16px 16px 54px;
    border-radius: 10px;
    border: dotted;
}

.nav-button {
    padding: 7px 15px 7px 15px;
}