* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grey-background {
  background-color: #f6f3f2;
}

/* navigation */

.nav {
  background-color: #d33a2c;
}

.logo {
  width: 250px;
}

.nav-links {
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 21px;
}

.nav-links a {
  color: #fff;
}

.hover:hover {
  background-color: rgb(173, 26, 26);
  padding: 10px 10px;
  border-radius: 10px;
  width: 15px;
}

input {
  margin-right: 20px;
  padding: 16px 16px 16px 54px;
  border-radius: 10px;
}

.nav-button {
  background-color: #a82d22;
  padding: 10px 30px;
  position: relative;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  border: none;
  /* justify-content: flex-end; */
}

.nav-button span {
  position: relative;
  right: 20px;
}

.button-image {
  position: absolute;
  width: 30px;
  margin-bottom: 100px;
  margin-left: 40px;
}

.search {
  position: absolute;
  top: 38px;
  margin-left: 10px;
}

.fa-search {
  color: #c74211;
}

::placeholder {
  font-size: 20px;
  font-weight: bold;
}

.container {
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.headings {
  position: absolute;
}

h1 {
  position: absolute;
  left: 550px;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  font-size: 30px;
  margin-top: 50px;
}

h1 span {
  padding: 0 20px 0 20px;
}

.articles {
  background-color: #fff;
  position: absolute;
  left: 620px;
  top: 84px;
  font-size: 30px;
}

.card-content {
  margin-top: 100px;
}

.card-content h2 {
  margin: 30px 0 0 60px;
  font-size: 40px;
}

.card-content span {
  margin: 70px 0 0 60px;
}

.card {
  height: 716px;
  color: #fff;
}

.arrow {
  position: relative;
  font-size: 30px;
  text-decoration: none;
  top: 150px;
}

.arrow:hover {
  border: solid thin blue;
  border-width: 50px;
}

.card-img {
  width: 70px;
  border: 3px solid #fff;
  border-radius: 10px;
}

.card-1 {
  background-color: #bc3428;
}

.card-2 {
  background-color: #c7372a;
}

.card-3 {
  background-color: #b13125;
}

.card-4 {
  background-color: #bc3428;
}

figure {
  margin-left: 50px;
}

figure img {
  transform: rotate(-20deg);
}

figure img:hover {
  transform: rotate(0deg);
  transition: 0.2s;
}

figcaption {
  margin: 20px 0 0 20px;
}

.container-two {
  grid-template-columns: repeat(3, 1fr);
}

.design-info {
  margin: 20px 0 0 20px;
  height: 500px;
}

.design-info:hover {
  background-color: #fff;
  padding: 30px 40px 0 40px;
}

.design-info h3 {
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.design-info p {
  font-size: 25px;
  margin-top: 20px;
}

span {
  text-decoration: underline;
}

.smashing-members {
  grid-template-columns: 70% 30%;
  height: 620px;
}

.singing-barista {
  font-size: 25px;
  border-radius: 10px;
}

.singing-barista h2 {
  text-decoration: underline;
}

.singing-barista img {
  width: 250px;
}

.singing-barista .singing-barista-content {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #fff;

}

.singing-barista button {
  color: blue;
  background-color: #fff;
  padding: 0.75em 1em;
  border: none;
  border-radius: 10px;
  margin: 40px 0 40px 0;
}