* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grey-background {
  background-color: #f6f3f2;
}

/* navigation */

.nav {
  background-color: #d33a2c;
}

.logo {
  width: 250px;
}

.nav-links {
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 21px;
}

.nav-links a {
  color: #fff;
}

.hover:hover {
  background-color: rgb(173, 26, 26);
  padding: 10px 10px;
  border-radius: 10px;
  width: 15px;
}

input {
  margin-right: 20px;
  padding: 16px 16px 16px 54px;
  border-radius: 10px;
}

.nav-button {
  background-color: #a82d22;
  padding: 10px 30px;
  position: relative;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  border: none;
  /* justify-content: flex-end; */
}

.nav-button span {
  position: relative;
  right: 20px;
}

.button-image {
  position: absolute;
  width: 30px;
  margin-bottom: 100px;
  margin-left: 40px;
}

.search {
  position: absolute;
  top: 38px;
  margin-left: 10px;
}

.fa-search {
  color: #c74211;
}

::placeholder {
  font-size: 20px;
  font-weight: bold;
}

.container {
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin-bottom: 50px;
}

.headings {
  position: absolute;
}

h1 {
  position: absolute;
  left: 550px;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  font-size: 30px;
  margin-top: 50px;
}

h1 span {
  padding: 0 20px 0 20px;
}

.articles {
  background-color: #fff;
  position: absolute;
  left: 620px;
  top: 84px;
  font-size: 30px;
}

.card-content {
  margin-top: 100px;
}

.card-content h2 {
  margin: 30px 0 0 60px;
  font-size: 40px;
}

.card-content span {
  margin: 70px 0 0 60px;
}

.card {
  height: 716px;
  color: #fff;
}

.arrow {
  position: absolute;
  font-size: 30px;
  text-decoration: none;
  bottom: 0;
  left: 0;
  padding: 50px;
}

.arrow:hover {
  background-color: blue;
}

.card-img {
  width: 70px;
  border: 3px solid #fff;
  border-radius: 10px;
}

.card-1 {
  background-color: #bc3428;
}

.card-2 {
  background-color: #c7372a;
}

.card-3 {
  background-color: #b13125;
}

.card-4 {
  background-color: #bc3428;
}

figure {
  margin-left: 50px;
}

.tilt {
  /* border: 3px solid; */
  margin-left: 20px;
  transform: rotate(-20deg);
  border-radius: 10px;
}

.tilt:hover {
  transform: rotate(0deg);
  transition: 0.2s;
  box-shadow: lightgrey;
}

figcaption {
  margin: 20px 0 0 20px;
}

.container-two {
  grid-template-columns: repeat(3, 1fr);
}

.design-info {
  padding: 20px;
  position: relative;
  margin: 20px 0 0 20px;
  height: 500px;
  transition: all .3s ease-in-out;
}

.design-info:hover {
  background-color: #fff;
  /* padding: 30px 40px 0 40px; */
  transform: scale(1.1);
  box-shadow: 2px 1px 29px 0px rgba(0, 0, 0, 0.75);
}

.design-info:hover .arrow {
  background-color: blue;
}

.design-info h3 {
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.design-info p {
  font-size: 25px;
  margin-top: 20px;
}

span {
  text-decoration: underline;
}

.smashing-members {
  grid-template-columns: 70% 30%;
  height: 620px;
}

.singing-barista {
  font-size: 25px;
  border-radius: 10px;
}

.singing-barista h2 {
  text-decoration: underline;
}

.singing-barista img {
  width: 250px;
}

.singing-barista .singing-barista-content {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #fff;

}

.singing-barista button {
  color: blue;
  background-color: #fff;
  padding: 0.75em 1em;
  border: none;
  border-radius: 10px;
  margin: 40px 0 40px 0;
}


.latest-articles-div {
  margin: 120px 0 120px 0;
}

.latest-articles {
  width: 300px;
  margin: 0 auto;
}

.latest-articles a {
  color: black;
}

.latest-articles hr {
  width: 220px;
  height: 5px;
  background-color: #bc3428;
}

.table-contents-section {
  background-color: #1a71bb;
  padding: 80px;
  width: 100%;
  min-height: 200px;
}

.table-contents img {
  width: 1000px;
}

.shipping-now {
  width: 800px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.shipping-now h2 {
  font-size: 40px;
}

.person-week-section {
  margin-top: 70px;
}

.person-week img {
  border: #c7372a 5px solid;
  margin-left: 40px;
}

.person-week-paragraph {
  width: 800px;
  margin: 0 auto;
  font-size: 20px;
  color: #363636;
}

.person-week-paragraph h2 {
  margin: 0 0 20px 0;
}

.author-contents {
  margin: 0 auto;
  width: 400px;
}

.author-contents h3 {
  font-size: 30px;
}

.author p {
  font-size: 15px;
}

.design-section {
  height: 350px;
  justify-content: space-between;
}
.design-system-p {
  width: 800px;
  margin:50px 0 50px 0;
}
.design-systems {
  margin-left: 50px;
  color: #fff
}
.design-systems h2 {
  margin: 20px 0 30px 0;
}

.design-systems h3 {
  font-size: 50px;
  text-decoration: underline;
}

.design-systems button { 
  color: blue;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.handbook {
  width: 250px;
  position: relative;
  bottom: 80px;
  right: 80px;
}

.main-smashing-guide {
  gap: 2em;
  height: 1000px;
}

.smashing-guides {
  margin: 100px 0 0 50px;
  width: 500px;
  height: 400px;
  background-color:yellow;
  border-radius: 10px;
}

.smashing-guides h2 {
  margin-top: 20px;
  font-size: 15px;
}

.smashing-guides h3 {
  font-size: 40px;
  text-decoration: underline;
}

.sub-smashing-guides {
  width: 450px;
  background-color: red;
  margin: 0 auto;
  height: 320px;
}

.smashing-guides-1 {
  width: 500px;
  height: 650px;
  background-color: blue;
  margin-left: 50px;
  border-radius: 10px;
}

.sub-smashing-guides-1 {
  width: 450px;
  background-color: red;
  margin: 20px auto 0 auto;
  height: 250px;
}
